.panel-card{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-evenly !important;
    align-items: center;
    margin: 16px !important;
    width: 80%;
}

.panel-label{
    background-color: transparent !important;
}

.generate-workout{
    background: none !important;
    height: 45px !important;
    margin: 16px !important; 
}