.panel-card{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-evenly !important;
    align-items: center;
    margin: 16px !important;
}

.panel-label{
    background-color: transparent !important;
}

.generate-workout{
    background: none !important;
    height: 45px !important;
    margin-bottom: 24px !important; 
}

.location-row-width{
    width: 80% !important;
}

.ui.checkbox .box, .ui.checkbox label{
    font-size: 1.1rem !important
}