.panel-container-card{
    width: 400px !important ;
    padding-top: 16px !important;
    align-items: center;
}

.ui.card {
    background: #fdf2f2 !important;
}

.ui.error.message{
    width: 80% !important;
}