.panel-container-card{
    width: 400px !important ;
    padding-top: 16px !important;
}

.panel-card{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-evenly;
    align-items: center;
    margin: 16px !important;
}

.generate-button{
    color: red !important;
    height: 45px;
    margin: 16px;
}

.ui.card {
    background: #fdf2f2 !important;
}