.ui.steps {
    display: table;
    width: 100%;
}

.ui.steps .step{
    display:table-cell;
}

.ui.steps .step .title{
    margin-top:16px;
}

.ui.steps.step.active{
    background: white !important;
}

.ui.steps.disabled.step{
    background: #f3f4f5 !important;
}

