.custom-list{
    margin: 16px 8px !important;
}

.list-item{
    margin: 8px 8px !important;
    display: flex !important;
    flex-direction: row ;
    justify-content: space-around;
    align-items: stretch !important;
    background-color: #f4f4f4 !important;
    border-radius: 10px;
    widows: 95% !important;

}

.list-item-cell{
    margin: 8px 0px !important;
}

.exercise-item-names{
    flex-basis: 50%;
    margin: 16px 0px 0px;
}

.set-button{
    height: 70px;
    background:#eddbc7 !important;
    width: 82px;
}

.disable-button{
    background-color: transparent !important;
    opacity: 1 !important;
    color: #fb9935 !important;
}

.button-margins{
    margin: 8px 8px !important;
}

.tropy-icon{
    margin: 0 auto !important;
}